<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<link rel="stylesheet" href="/CSS/star.css">

<main class="container mt-3 cont" >

  <%- include("../partials/flash") %>

    <div class="row" >
      
            <div class="col-lg-6 my-5 " style="display: flex; justify-content: center; align-items: flex-start ;"  >
            
                <div class="card text-center px-3 py-4" style="width: 25rem;">
                  <figure>
                    <img src="<%= product.img %>" class="card-img-top" alt="...">
                  </figure>
                    
                    <div class="card-body">
                      <h5 class="card-title"><%= product.name %></h5>
                      <p class="card-text"><%= product.desc %></p>
                      <p>Price - &#8377; <%= product.price %></p>

                      <div id="buttons" style="display: flex; justify-content: center; flex-wrap: wrap;" >
                        <a href="" class="btn btn-success mx-1 my-2 ">Buy</a>
                        
                        <form class=" my-2" action="/user/<%= product._id %>/cart" method="POST">
                          <button class="btn btn-secondary mx-1" >Add to Cart</button>
                        </form>

                        <a href="/products/<%= product.id %>/edit" class="btn btn-warning mx-1 my-2 ">Edit</a>
                        <form class="delForm my-2 " action="/products/<%= product._id %>?_method=DELETE" method="POST">
                          <button class="btn btn-danger mx-1" >Delete</button>
                        </form>
                      </div>
                     
                      

                    </div>
                  </div>
            </div>    

            <div class="col-lg-6 my-5" >
                <h6 class="display-6" >Leave a review</h6>
                <form  action="/products/<%= product._id %>/review" method="POST" style="max-width: 100%;" class=" validate-form mt-4" novalidate  >

                  <!-- <class class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" id="rating" min="0" max="5" name="rating" required>
                    
                  </class> -->

                  <fieldset class="starability-basic">
                    
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                  
              
                  <div class="mb-3" >
                      <label for="comment" class="form-label" >Description</label>
                      <textarea id="comment" cols="35" rows="3 " class="form-control" name="comment" required ></textarea>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                  </div>
                  
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

                <div class="my-3">
                      <% for(let review of product.reviews) { %>

                        <div class="card my-3">

        
                          <div class="card-body">
                            <!-- <h5 class="card-title">Rating : <%= review.rating %></h5> -->
                            
                            <p class="starability-result" data-rating="<%= review.rating %>">
                              Rated: <%= review.rating %> stars
                            </p>
                            <span style="color: grey;" class="text-capitalize" >by <%= review.user %></span>
                            <p class="card-text">Review : <%= review.comment %></p>
                            
                            <% if(currentUser.username === review.user){ %>
                              <form action="/products/<%= product._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                                <button style="border: none;" <i class="fas fa-trash fa-lg"></i></button>
                              </form>
                            <% } else {%>
                               <button style="border: none;" <i class="fas fa-trash fa-lg"></i></button>
                            <% } %>
                          </div>

                        </div>

                      <% } %>
                </div>
            </div>
            
    </div>
    
</main>

<%- include("../partials/footer") %>